<header>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-white border-bottom border-top"
  >
    <div class="container">
      <a class="navbar-brand fs-2 fw-bold" href="#">
        <span class="textBlur">O/</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link text-uppercase fw-semibold"
              href="#"
              style="color: black"
              >Home</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-uppercase fw-semibold"
              href="#"
              id="categoriesDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="color: black"
            >
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
              <li>
                <a class="dropdown-item" href="#">option 1</a>
                <a class="dropdown-item" href="#">option 2</a>
                <a class="dropdown-item" href="#">option 3</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-uppercase fw-semibold"
              href="#"
              style="color: black"
              routerLink="/faq"
              >FAQ</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-uppercase fw-semibold"
              href="#"
              style="color: black"
              routerLink="/contact-us"
              >Contact Us</a
            >
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link position-relative me-3"
              routerLink="/favorites"
              href="#"
            >
              <i class="fa fa-heart" style="color: black"></i>
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill"
                style="background-color: #9e18b8"
                >0</span
              >
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link position-relative me-3"
              routerLink="/cart"
              href="#"
            >
              <i class="fa fa-shopping-cart" style="color: black"></i>
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill"
                style="background-color: #9e18b8"
                >0</span
              >
            </a>
          </li>
          <ng-container *ngIf="user$ | async as user; else showLogin">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="userDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="color: black"
              >
                <i class="fa fa-user"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li>
                  <a class="dropdown-item" href="#">{{
                    user.email | emailUsername
                  }}</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" (click)="logout()" href="#"
                    >Logout</a
                  >
                </li>
              </ul>
            </li>
          </ng-container>
          <ng-template #showLogin>
            <li class="nav-item">
              <a
                class="btn btn-outline-dark"
                routerLink="/login"
                style="color: black; transition: all 0.3s"
              >
                <i class="fa fa-user"></i> Login
              </a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
</header>
