<div class="container">
  <div class="col-10 mx-auto">
    <div class="d-flex py-5">
      <div
        ngbNav
        #nav="ngbNav"
        class="nav-pills flex-column col-2"
        orientation="vertical"
      >
        @for (category of categories; track $index) {
        <ng-container [ngbNavItem]="category.id">
          <button ngbNavLink class="text-start">
            {{ category.name }}
          </button>
          <ng-template ngbNavContent>
            <div class="d-flex flex-wrap col-8 gap-3">
              @for (item of category.children; track $index) {
              <div
                class="card"
                style="cursor: pointer"
                [routerLink]="['/category', item.name]"
              >
                <div class="card-body">
                  <h5 class="card-title">{{ item.name }}</h5>
                </div>
              </div>
              }
            </div>
          </ng-template>
        </ng-container>
        }
      </div>

      <div [ngbNavOutlet]="nav" class="ms-4"></div>
    </div>
  </div>
</div>
