<div
  class="card"
  style="width: 14rem; cursor: pointer"
  [routerLink]="['/product', product.id]"
>
  <div class="img-btn">
    <img [src]="product.imagePathArr[0]" class="card-img-top" alt="pc" />
    <button
      class="btn btn-secondary btn-sm rounded-circle favorite-btn"
      type="button"
      (click)="onAddToFavorites($event)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-heart"
        viewBox="0 0 16 16"
      >
        <path
          d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
        />
      </svg>
    </button>
  </div>
  <div class="container py-2">
    <p class="card-title mb-0">{{ product.name }}</p>
    <div class="row gx-1 align-items-center">
      <div class="col-7">
        <div class="d-flex">
          <ngb-rating
            [rate]="product.rating"
            max="5"
            readonly="true"
            style="color: #faa528"
          >
            <ng-template let-fill="fill" let-index="index">
              <ng-container *ngIf="fill > 75; else halfStar">
                <i class="bi-star-fill"></i>
              </ng-container>
              <ng-template #halfStar>
                <ng-container *ngIf="fill > 25">
                  <i class="bi-star-half"></i>
                </ng-container>
                <ng-container *ngIf="fill <= 25">
                  <i class="bi-star"></i>
                </ng-container>
              </ng-template>
            </ng-template>
          </ngb-rating>
          <p>&nbsp;{{ product.rating }}</p>
        </div>
      </div>
      <div class="col-5 text-end">
        <p class="h5">$ {{ product.price }}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 text-center hideDiv">
        <a
          class="btn btn-primary btn-sm px-4 hideBtn"
          (click)="onAddToCart($event)"
        >
          <i class="bi bi-cart3"></i> Add to cart
        </a>
      </div>
    </div>
  </div>
</div>
