a {
  text-decoration: none;
}

.btn-circle {
  border-radius: 50%;
  border: none;
  background-color: #6d757d;
  width: 48px;
  height: 48px;
}

.btn-circle:hover {
  background-color: #5d636a;
}

.btn-circle i {
  font-size: 1.2rem;
  color: white;
}
