<section id="product">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="productHeading text-center">
          <h2 class="mb-3">Exclusive Products</h2>
          <ul class="list-unstyled d-flex justify-content-center">
            <li>
              <a
                href="#"
                class="m-4 text-decoration-none text-danger fw-semibold"
                >New Arrival</a
              >
            </li>
            <li>
              <a
                href="#"
                class="m-4 text-decoration-none fw-semibold text-black"
                >Best Sellers</a
              >
            </li>
            <li>
              <a
                href="#"
                class="m-4 text-decoration-none fw-semibold text-black"
                >Featured</a
              >
            </li>
            <li>
              <a
                href="#"
                class="m-4 text-decoration-none fw-semibold text-black"
                >Special Offer</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <app-product-list></app-product-list>
      </div>
    </div>
  </div>
</section>
